<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
  </div>
	
  <div id="index">
  <h1>About Me</h1>  
      <p> Dr. Xiu is an Assistant Professor with the Department of Automation, Shanghai University. 
	      I obtained my Ph.D in Operations Reasearch from Beijing Jiaotong University and then worked as a Postdoctoral Research Associate at Peking University. 
	      My current research interests are machine learning (<a href="https://github.com/xianchaoxiu/Sparse-Optimization" class="textlink" target="_blank">Sparse Optimization</a>, <a href="https://github.com/xianchaoxiu/Federated-Learning" class="textlink" target="_blank">Federated Learning</a>) 
	      and pattern recognition (<a href="https://github.com/xianchaoxiu/Hyperspectral-Imaging" class="textlink" target="_blank">Hyperspectral Imaging</a>, <a href="https://github.com/xianchaoxiu/Anomaly-Detection" class="textlink" target="_blank">Anomaly Detection</a>). <br><br>
	
	      I am recruiting self-motivated graduate students with great interests in machine learning and pattern recognition. Reference books   
        <ul>
        <li> Optimization: Modeling, Algorithm and Theory (in Chinese) <a href="../teaching/OPT.pdf" class="textlink" target="_blank">[Book]</a> <a href="http://faculty.bicmr.pku.edu.cn/~wenzw/optbook.html" class="textlink" target="_blank">[Web]</a></li>
	<li> Fundamentals of Pattern Recognition and Machine Learning <a href="../teaching/PR.pdf" class="textlink" target="_blank">[Book] </a> <a href="https://braganeto.engr.tamu.edu/book-website/" class="textlink" target="_blank">[Web]</a></li>
        </ul>	  
</p>

	  
	  
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


