<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}



	<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=zRgvM6RPeEtDdDiKDPmviHn2HRSRHehBu74rZKFJYfc&cl=ffffff&w=a"></script>
  </div>

		
		
  <div id="index">
  <h1>About Me</h1>  
      <p> Dr. Xiu is an Assistant Professor with the Department of Automation, Shanghai University. 
	      I obtained my Ph.D in Operations Research at Beijing Jiaotong University and then worked as a Postdoctoral Research Associate in Control Science at Peking University. 
	      My current research interests are <b>Machine Learning and Optimization</b>. Now, I am recruiting self-motivated graduate students with some mathematical and programming abilities. Reference books   
	  <ul>
        <li> Optimization: Modeling, Algorithm and Theory (in Chinese) <a href="https://item.jd.com/13064530.html" class="textlink" target="_blank">[Book]</a> <a href="https://www.bilibili.com/video/BV1Kc411i7kJ" class="textlink" target="_blank">[Video]</a></li>
	<li> Machine Learning (in Chinese) <a href="https://item.jd.com/12762673.html" class="textlink" target="_blank">[Book]</a> <a href="https://www.bilibili.com/video/BV1gG411f7zX" class="textlink" target="_blank">[Video]</a> </li>
        </ul>	
	  
</p>

	  
	  
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


